.bodyCheckIf{
	width: 90%;
	margin: 0 auto;
}
.homePage{
	
	text-decoration: none;
	color: black;
	width: 100%;
    height: 100%;
}
.homePage:hover{
	text-decoration: none;
	color: black;
}
.blueArea {
	position: relative;
	width: 90%;
	height: 104px;
	background-color: #75a9f9;
	text-align: center;
}

.blueArea p {
	position: relative;
	top:30px;
	font-size: 165%;
	left: 5%;
	font-family: verdana;
	color: #ffffff;
}

.checkIf {
	position: relative;
	text-align: center;
}

.viLogo {
	font-size: 850%;
	color: #61cc73;
}

.positiveCheck {
	position: relative;
	color: #61cc73;
}

.attension {
	position: relative;
	top: 0px;
	color: #bf2a1c;
	font-size: 250%;
}

.parkingTime {
	font-size: 150%;
}

#btn-secondary {
	position: relative;
    font-family: verdana;
    font-size: 20px;
    width: 28%;
    height: 50px;
    border-radius: 5px;
    background-color: #e6e6e6;
    color: #000;
    top: 25px;
	text-align: center;
}

