* {
    margin: 0;
    padding: 0;
}

article, aside, main, section, header, footer {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    font-size: 100%;
}


#wrapper {
    width: 90%;
    margin: auto;
}

header {
    text-align: center;
    vertical-align: middle;
    background-color: #75a9f9;
    width: 100%;
    margin: 0px;
    line-height: 685%;
   font-size: 165%;
   color: white;
}




  #wrapper > ul {
      /*font-size: 4vh; */
      font-size: 165.5%;
  }