body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
#wrapper{
  width: 90%;
  margin: 0 auto;
}
.clear{
  clear: both;
}
a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
a:hover{
  color: white;
  text-decoration: none;
}
/*
 * Just a quick hamburger
 */
#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span{
  visibility: hidden;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3){
  visibility: hidden;
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2){
  visibility: hidden;  
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul{
  transform: none;
}


@media(min-width: 481px) and (max-width:850px){
  nav{
    display: block;
    width: 326px;
    height: 721px;
  }
    /* form{
      width: 100px;
      height: 100px;
    } */
      main{
          width: 100%;
          height: 1149px;
          background: url("../images/bigger\ map.png");
      }
      .btn-secondary{
        position: absolute;
        left: 551px;
        top: 900px;
        font-size: 26px;
        height: 113px;
        width: 184px;
        background-color: #e6e6e6;
        color: black;
    }
    #arrow {
      position: absolute;
      border: solid black;
      border-width: 0 7px 7px 0;
      display: inline-block;
      padding: 7px;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      left: 76vw;
      top: 574px;
    }
    #user{
      background-color: aqua;
      width: 68.7vw;
      height: 200px;
      margin-top: -44px;
      margin-left: -49px;
    }
    form{
    float: left;
    }
    #menu{
    visibility: hidden;
    position: absolute;
    width: 69vw;
    height: 1149px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 45px;
    top: -822px;
    left: -26px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .colect{
    display: block;
    position: relative;
    width: 68.7vw;
    left: -49px;
    padding: 10px 0;
    font-size: 35px;
    height: 178px;
    padding-top: 56px;
    text-align: center;

  }
  .colect:hover {
    position: relative;
    background-color: #232323;
    width: 68.7vw;
   left: -49px;
   text-align: center;

  }
  #menuToggle{
      display: block;
      position: relative;
      top: 922px;
      left: 76px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
  }
  #menuToggle span
  {
    display: block;
    width: 87px;
    height: 20px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
  }

  #mySection{
    position: absolute;
    width: 51px;
    height: 1150px;
    background-color: black;
    opacity: 0.5;
    left: 74vw;
    top: 0px;
  }
  #userName{
    color: black;
    text-align: center;
  }
  #userImg{
    width: 130px;
    height: 126px;
    margin-left: 26.5vw;
    margin-top: 8px;
  }
  #park1{
    position: absolute;
    top: 467px;
    left: 119px;
  }
  #park2{
    position: absolute;
    top: 244px;
    left: 300px;
  }
  #park3{
    position: absolute;
    top: 300px;
    left: 490px;
  }
  #thanks{
    position: absolute;
    top: 887px;
    left: 69%;
  }
  #points{
    position: absolute;
    left: 64%;
    top: 995px;
    color: black;
    font-size: 30px;
  }
  #menuToggle input{
    display: block;
    width: 98px;
    height: 84px;
    position: absolute;
    top: -7px;
    left: -5px;
       
   cursor: pointer;
       
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
       
   -webkit-touch-callout: none;
  }
  .fa-gear:before, .fa-cog:before {
    font-size: 88px;
  }
  #menuToggle input:checked{
    height: 1150px;
    left: 408px;
    top: -922px;
    width: 216px;
  }
  .btn.btn-dark{
    position: absolute;
    top: 862px;
    left: 266px;
    width: 225px;
    height: 151px;
    font-size: 29px;
    opacity: 0.8;
  }
  .turn{
    background-color: black;
    opacity: 0.8;
    text-align: right;
    height: 100px;
    font-size: 36px;
    position: absolute;
    width: 90%;
  }
  .turn p{
    position: absolute;
    
}
.fa-mail-reply:before, .fa-reply:before {
    content: "\f112";
    font-size: 72px;
    position: absolute;
    left: 68px;
    top: 12px;
}
.vl{
    border-left: 15px solid purple;
    height: 404px;
    transform: rotate(-12deg);
    position: absolute;
    left: 582px;
    top: 293px;

}
.vl1{
    border-left: 15px solid purple;
    height: 43px;
    transform: rotate(74deg);
    position: absolute;
    left: 525px;
    top: 288px;
}
.fa-clock-o:before {
  position: relative;
  left: -3px;
  top: 9px;
  font-size: 63px;
}
.fa-automobile:before, .fa-car:before{
  position: relative;
  left: -1px;
  top: 9px;
  font-size: 63px;
}
.fa-check-circle:before{
  position: relative;
  left: -3px;
  top: 9px;
  font-size: 63px;
}
.fa-file-text-o:before{
  position: relative;
  left: -1px;
  top: 9px;
  font-size: 63px;
}
}
       /*this is for tablet*/
@media(max-width:480px){
  nav{
    display: block;
    width: 326px;
    height: 721px;
  }
    form{
      width: 100px;
      height: 100px;
    }
      main{
          width: 100%;
          height: 735px;
          background: url("../images/clean\ map.png")no-repeat;
      }
      .btn-secondary{
        position: absolute;
        left: 320px;
        top: 591px;
        height: 52px;
        width: 111px;
        background-color: #e6e6e6;
        color: black;
    }
    #arrow {
      position: absolute;
      border: solid black;
      border-width: 0 4px 4px 0;
      display: inline-block;
      padding: 7px;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      left: 75vw;
      top:360.5px;
    }
    #user{
      background-color: aqua;
      width: 68.9vw;
      height: 200px;
      margin-top: -44px;
      margin-left: -49px;
    }
    form{
    float: left;
    }
    #menu
  {
    visibility: hidden;
    position: absolute;
    width: 69vw;
    height: 721px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 45px;
    top: -500px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .colect{
    display: block;
    position: relative;
    width: 68.9vw;
    left: -49px;
    padding: 10px 0;
    font-size: 22px;
    height: 100px;
    padding-top: 31px;
    text-align: center;

  }
  .colect:hover {
    position: relative;
    background-color: #232323;
    width: 68.9vw;
    left: -49px;
    text-align: center;

  }
  #menuToggle
  {
    display: block;
    position: relative;
    top: 600px;
    left: 50px;
    width: 100px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle span
  {
    display: block;
    width: 49px;
    height: 10px;
    margin-bottom: 5px;
    position: relative;
    
    background: black;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #mySection{
    position: absolute;
    width: 25px;
    height: 721px;
    background-color: black;
    opacity: 0.5;
    left: 74vw;
    top:0px;
  }
  #userName{
    color: black;
    text-align: center;
  }
  #userImg{
    width: 130px;
    height: 126px;
    margin-left: 20vw;
    margin-top: 8px;
  }
  #park1{
    position: absolute;
    top: 216px;
    left: 119px;
  }
  #park2{
    position: absolute;
    top: 190px;
    left: 300px;
  }
  #park3{
    position: absolute;
    top: 525px;
    left: 251px;
  }
  #thanks{
    position: absolute;
    top: 538px;
    left: 294px;
  }
  #points{
    position: absolute;
    top: 649px;
    left: 310px;
    color: black;
  }
  #menuToggle input{
    display: block;
    width: 58px;
    height: 53px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  #menuToggle input:checked{
    height: 721px;
    left: 251px;
    top: -600px;
    width: 124px;
  }
 .btn.btn-dark{
    position: absolute;
    top: 581px;
    left: 150px;
    width: 146px;
    opacity: 0.8;
  }
  .turn{
    background-color: black;
    opacity: 0.8;
    text-align: right;
    height: 100px;
    font-size: 36px;
    position: absolute;
    width: 90%;
    font-size: 25px;
  }
  .turn p{
      position: absolute;

  }
  .fa-mail-reply:before, .fa-reply:before {
    content: "\f112";
    font-size: 72px;
    position: absolute;
    left: 68px;
    top: 12px;
}
.fa-mail-reply:before, .fa-reply:before {
    content: "\f112";
    font-size: 46px;
    position: absolute;
    left: 17px;
    top: 36px;
}
.vl{
    border-left: 11px solid purple;
    height: 246px;
    transform: rotate(-12deg);
    position: absolute;
    left: 363px;
    top: 194px;

}
.vl1{
    border-left: 11px solid purple;
    height: 43px;
    transform: rotate(74deg);
    position: absolute;
    left: 322px;
    top: 182px;
}
.fa-clock-o:before {
  position: relative;
  left: -37px;
  left: -13px;
  font-size: 35px;
}
.fa-automobile:before, .fa-car:before{
position: relative;
  left: -34px;
  left: -13px;
  font-size: 35px;
}
.fa-check-circle:before{
  position: relative;
  left: -41px;
  left: -15px;
  font-size: 35px;
}
.fa-file-text-o:before{
position: relative;
  left: -34px;
  left: -15px;
  font-size: 35px;
}
}
/*        this is for mobile */
